> HW No 1 Answer

In [4]:
#To enter the list of numbers:
print("Please enter the score of section 1:")
score1 = float(input())
print("Please enter the score of section 2:")
score2 = float(input())
print("Please enter the score of section 3:")
score3 = float(input())
print("Please enter the score of section 4:")
score4 = float(input())
print("Please enter the score of section 5:")
score5 = float(input())

# Funtion of the score bigger or equal to 60:
print("Scores >= 60:")
if score1 >= 60:
    print(score1)
if score2 >= 60:
    print(score2)
if score3 >= 60:
    print(score3)
if score4 >= 60:
    print(score4)
if score5 >= 60:
    print(score5)

# Function of scores if it less than 60:
print("Scores < 60:")
if score1 < 60:
    print(score1)
if score2 < 60:
    print(score2)
if score3 < 60:
    print(score3)
if score4 < 60:
    print(score4)
if score5 < 60:
    print(score5)

Please enter the score of section 1:
43
Please enter the score of section 2:
50
Please enter the score of section 3:
60
Please enter the score of section 4:
79
Please enter the score of section 5:
88
Scores >= 60:
60.0
79.0
88.0
Scores < 60:
43.0
50.0

In [5]:
# def function for enter and print the list of scores:
def input_scores():
    scores = []
    for i in range(1, 6):
        score = int(input(f"Please enter the score of subject {i}: "))
        scores.append(score)
    return scores

# def function to print the list which score less than 60 and bigger/equal than 60:
def print_scores(scores):
    greater_than_equal_60 = [score for score in scores if score >= 60]
    higher_than_60 = [score for score in scores if score > 60]
    print(">= 60:", " ".join(str(score) for score in greater_than_equal_60))
    print("< 60:", " ".join(str(score) for score in scores if score < 60))

# To simulating keyboard input
scores = input_scores()

# will printing scores
print_scores(scores)

Please enter the score of subject 1: 34
Please enter the score of subject 2: 50
Please enter the score of subject 3: 60
Please enter the score of subject 4: 87
Please enter the score of subject 5: 75
>= 60: 60 87 75
< 60: 34 50

In [41]:
scores = []
for i in range(1, 6):
    score = int(input(f"Please enter the score of subject {i}: "))
    scores.append(score)

print(">= 60:", end=" ")
print(*[score for score in scores if score >= 60], sep=" ")
print(" < 60:", end=" ")
print(*[score for score in scores if score < 60], sep=" ")

Please enter the score of subject 1: 67
Please enter the score of subject 2: 79
Please enter the score of subject 3: 94
Please enter the score of subject 4: 48
Please enter the score of subject 5: 52
>= 60: 67 79 94
 < 60: 48 52

In [44]:
n = 5

count = 0
over_60 = ">= 60: "
less_60 = "< 60: "

while count< n:
    inp = input(f"number {count + 1}:")
    value = int(inp)
    if value >= 60:
        over_60 = over_60 + f" {str(value)}"
    else:
        less_60 += f" {str(value)}"
    count = count + 1 # count += 1
    
print(over_60)
print(less_60)

number 1:48
number 2:65
number 3:97
number 4:55
number 5:32
>= 60:  65 97
< 60:  48 55 32

> HW No 2 Answer:

In [7]:
#The function "for" to print the list of 1 to 5 with special graphic:
for i in range(1,6):
    for j in range(1, i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [45]:
n = 5
result = ""
for r in range(1, n+1):
    result = result + str(r)
    print(' ' * (n-r) + result)

    1
   12
  123
 1234
12345

In [ ]:
n = 5

for r in range(1, n+1):
    print(' ' * (n-r), end='')
    for k in range(1, r+1):
        print(k)
    print()
    
print()

 > HW No 3 Answer:

In [34]:
for i in range(1, 10):
    print("" * (i - 1), end="")
    for j in range(10 - i, 10):
        print(j, end="")
    print()

9
89
789
6789
56789
456789
3456789
23456789
123456789

In [35]:
for i in range(10):
    print(' ' * (9 - i) + ''.join(str(j) for j in range(10 - i, 10)))

        9
       89
      789
     6789
    56789
   456789
  3456789
 23456789
123456789

> HW No 4

In [40]:
msg = input("University: ")
class_name = input("class name: ")
name = input("name: ")

output = [
    msg + class_name +  " " + name,
    "The same department as " + msg + ", not affiliated with " + name + " University",
    "Datong Taipei University of Science and Technology " + class_name,
    "" + name + " " + msg + " " + class_name,
    "Department: " + name + ", " + msg + "",
    "Department " + name + " " + msg + " No.",
    class_name + name + ", " + msg,
    "" + name + ", Taipei University of Science and Technology",
    "University " + class_name + " " + name + " Taipei Science and Technology",
    "National Taiwan University of Science and Technology, " + class_name + " " + name + ", Taipei Science",
    "University of Science and Technology, " + class_name + " " + name + ", Taipei",
    "University of Science and Technology of China, " + class_name + " " + name
]

for line in output:
    print(line)

University: National Taipei University of Technology
class name: IEECCS
name: Ila Rosdiana
National Taipei University of Technology IEECCS Ila Rosdiana
The same department as National Taipei University of Technology , not affiliated with Ila Rosdiana University
Datong Taipei University of Science and Technology IEECCS
Ila Rosdiana National Taipei University of Technology  IEECCS
Department: Ila Rosdiana, National Taipei University of Technology
Department Ila Rosdiana National Taipei University of Technology  No.
IEECCSIla Rosdiana, National Taipei University of Technology
Ila Rosdiana, Taipei University of Science and Technology
University IEECCS Ila Rosdiana Taipei Science and Technology
National Taiwan University of Science and Technology, IEECCS Ila Rosdiana, Taipei Science
University of Science and Technology, IEECCS Ila Rosdiana, Taipei
University of Science and Technology of China, IEECCS Ila Rosdiana